@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Roboto+Mono:wght@300;500;700&family=Yellowtail&display=swap');
/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Yellowtail', cursive; */
/* =====header==== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background-different{
    /* background-color: #080705; */
    background-image: url(/assets/img-1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment:fixed;
    background-size: 100%;
    height: 100%;
}
header{
    background-color: rgba(90, 90, 90, 0.1);

}

ul{
    text-align: center;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.links li a {
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #912f40;
    padding: 25px;
    transition: all ease-in-out 0.2s;
}
.links  li a:hover{
    background-color: #583540;
    color: #24252a;
}

.banner{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;  
    padding-left: 50px;
}
.animation-logo{
    position: relative;
}
.animation-logo span{
    position: relative;
    display: inline-block;
    font-family: 'Roboto Mono', monospace; 
    text-transform: uppercase;
    color: #912f40;
    text-shadow: #583540 0 -2px;
    font-size: 50px;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
.stories{
    background-color: #24252a;
    font-family: 'Roboto Mono', monospace;
    display:grid;
    height: 120vh;
    place-items: center;
    text-align: center;
}
.stories h1{
    margin-top: 20px;
    padding: 25px;
    font-family: 'Nanum Gothic', sans-serif; 
    color: #eee;
    font-size: 40px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    color: #912f40; 
}

.slider{
    bottom: 50px;
    max-width:1000px;
    display: flex;
    flex-direction: row;
}
.slider .card{
    background: rgb(211, 206, 206);
    flex: 1;
    margin: 0 10px;
}
.slider .card .img{
    height: 250px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content{
    padding: 10px 20px;
}

.card .content .title{
    font-size: 25px;
    color: #912f40;
    line-height: 20px;
}
.card .content .sub-title{
    font-size: 20px;
    color: #40434e;
    line-height: 20px;
}
.card .content p{
    text-align: justify;
    margin: 10px 0;
}
.card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.card .content .btn button{
    background: #912f40;
    color: #fff;
    border:none;
    outline: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .content .btn button:hover{
    transform: scale(0.9);
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #912f40;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease-in-out;
}
.socials a:hover i{
    color: #912f40;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span{
    color: #702632;
    text-transform: uppercase;
    opacity: .4;
    font-weight: bold;
}