@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Roboto+Mono:wght@300;500;700&family=Yellowtail&display=swap');
/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Yellowtail', cursive; */
/* =====header==== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background-different{
    background-image: url(/assets/img-1.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment:fixed;
    background-size: 100%;
    height: 100%;
}
li, a{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.links{
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.links li a {
    color: #eee;
    transition: all 0.4s ease-out 0s;
}
.links li a:hover{
    font-size: 18px;
}
.line{
    background-color: rgb(202, 200, 200);
    height: 1px;
}
.banner{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;  
    padding-left: 50px;
}
.animation-logo{
    position: relative;
}
.animation-logo span{
    position: relative;
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif; 
    color: #eee;
    text-shadow: #912f40 0 -2px;
    font-size: 50px;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
.stories{
    background-color: #24252a;
    font-family: 'Roboto Mono', monospace;
    display:grid;
    height: 120vh;
    place-items: center;
    text-align: center;
}
.stories h1{
    padding: 25px;
    font-family: 'Nanum Gothic', sans-serif; 
    color: #eee;
    font-size: 50px;
    border-bottom: 2px solid;
    background-color: #912f40;
}

.slider{
    max-width: 1150px;
    display: flex;
    flex-direction: row;
}
.slider .card{
    background: rgb(211, 206, 206);
    flex: 1;
    margin: 0 10px;
}
.slider .card .img{
    height: 400px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content{
    padding: 10px 20px;
}

.card .content .title{
    font-size: 25px;
    color: #912f40;
    line-height: 20px;
}
.card .content .sub-title{
    font-size: 20px;
    color: #40434e;
    line-height: 20px;
}
.card .content p{
    text-align: justify;
    margin: 10px 0;
}
.card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.card .content .btn button{
    background: #912f40;
    color: #fff;
    border:none;
    outline: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .content .btn button:hover{
    transform: scale(0.9);
}