<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <title>Datilografe</title>
</head>

<body>
    <header>
        <nav>
            <div class="row">
                <div class="animation-logo">
                    <span style="--i:1" ;>D</span>
                    <span style="--i:2" ;>a</span>
                    <span style="--i:3" ;>t</span>
                    <span style="--i:4" ;>i</span>
                    <span style="--i:5" ;>l</span>
                    <span style="--i:6" ;>o</span>
                    <span style="--i:7" ;>g</span>
                    <span style="--i:8" ;>r</span>
                    <span style="--i:9" ;>a</span>
                    <span style="--i:10" ;>f</span>
                    <span style="--i:11" ;>e</span>
                    <span style="--i:12" ;>.</span>
                    <span style="--i:13" ;>.</span>
                    <span style="--i:14" ;>.</span>
                </div>
                <ul class="links">
                    <li><a href="page-erro.html">Login</a></li>
                    <li><a href="page-erro.html">Forúm</a></li>
                    <li><a href="page-erro.html">Sobre</a></li>
                </ul>
                <div class="box-banner">
                    <h1>Aqui tem uma frase impactante</h1>
                </div>
            </div>
        </nav>
    </header>
    <section class="stories">
        <h1>Mais acessados</h1>
        <div class="slider owl-carousel">

            <div class="card">
                <div class="img"><img src="../../../public/assets/carrosel-1.jpg" alt="Ocean"></div>
                <div class="content">
                    <div class="title">Horror Storie 1</div>
                    <div class="sub-title">Autor Desconhecido</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis quidem ex unde sequi odio vel
                        incidunt obcaecati ratione doloribus?</p>
                    <div class="btn">
                        <a href="page-erro.html">Me leia</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../../../public/assets/carrosel-2.jpg" alt="Ocean"></div>
                <div class="content">
                    <div class="title">Horror Storie 2</div>
                    <div class="sub-title">Autor Desconhecido</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis quidem ex unde sequi odio vel
                        incidunt obcaecati ratione doloribus?</p>
                    <div class="btn">
                        <a href="page-erro.html">Me leia</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../../../public/assets/carrosel-3.jpg" alt="Ocean"></div>
                <div class="content">
                    <div class="title">Horror Storie 3</div>
                    <div class="sub-title">Autor Desconhecido</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis quidem ex unde sequi odio vel
                        incidunt obcaecati ratione doloribus?</p>
                    <div class="btn">
                        <a href="page-erro.html">Me leia</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../../../public/assets/carrosel-4.jpg" alt="Ocean"></div>
                <div class="content">
                    <div class="title">Horror Storie 4</div>
                    <div class="sub-title">Autor Desconhecido</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis quidem ex unde sequi odio vel
                        incidunt obcaecati ratione doloribus?</p>
                    <div class="btn">
                        <a href="page-erro.html">Me leia</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../public/script.js"></script>
    </section>
    <footer>
        <div class="footer-content">
            <h3>Datilografe</h3>
            <p>Quem sou? Uma desenvolvedora iniciante, acompanhe meus projetos!</p>
            <ul class="socials">
                <li><a href="https://twitter.com/Jessica88777746" target="_blank"><i class='fa fa-twitter'></i></a></li>
                <li><a href="https://www.instagram.com/jessicamarques.css/" target="_blank"><i
                            class='fa fa-instagram'></i></a></li>
                <li><a href="https://www.linkedin.com/in/jessica-marques-0346a81a9/" target="_blank"><i
                            class='fa fa-linkedin-square'></i></a></li>
                <li><a href="https://github.com/jessicaMarquess" target="_blank"><i class='fa fa-github-square'></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2021. Designed by <span>Jessica Marques</span></p>
        </div>
    </footer>
</body>

</html>
