<!DOCTYPE html> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/page-error.css">
    <title>Em produção</title>
</head>
<body>
    <div id="container">
        <div class="content">
            <h2>Opps!!</h2>
            <h4>Página ainda em produção!</h4>
            <p>Desculpe o transtorno, minha criadora é muito lenta. Tente daqui há 84 anos,
                talvez ela tenha concluido! 
            </p>
            <a href="index.html">Volte uma casa</a>
        </div>
    </div>
    <script src="../../../public/script.js"></script>
</body>
</html>